In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv('covid_19_india.csv')
df2 = pd.read_csv('StatewiseTestingDetails.csv')

In [5]:
display(df1.head(), df2.head())

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

In [6]:
display(df1.info(), df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18110 non-null  int64
 1   Date                      18110 non-null  object
 2   Time                      18110 non-null  object
 3   State/UnionTerritory      18110 non-null  object
 4   ConfirmedIndianNational   18110 non-null  object
 5   ConfirmedForeignNational  18110 non-null  object
 6   Cured                     18110 non-null  int64
 7   Deaths                    18110 non-null  int64
 8   Confirmed                 18110 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  object
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      6969 non-null   object
 4   Positive      5662 non-null   float64
dtypes: float64(2), object(3)
memory usage: 638.2+ KB

None

None

In [7]:
df1.rename(columns = {'State/UnionTerritory':'State'}, inplace =True)

In [8]:
df1.head()

,Sno,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [9]:

df1_states = df1.loc[:, 'State'].unique().tolist()
df2_states= df2.loc[:, 'State'].unique().tolist()

duplicate_list = [i for i in df1_states if i in df2_states]
duplicate_list

['Kerala',
 'Delhi',
 'Rajasthan',
 'Uttar Pradesh',
 'Haryana',
 'Ladakh',
 'Tamil Nadu',
 'Karnataka',
 'Maharashtra',
 'Punjab',
 'Jammu and Kashmir',
 'Andhra Pradesh',
 'Uttarakhand',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'Chhattisgarh',
 'Chandigarh',
 'Gujarat',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Bihar',
 'Manipur',
 'Mizoram',
 'Andaman and Nicobar Islands',
 'Goa',
 'Assam',
 'Jharkhand',
 'Arunachal Pradesh',
 'Tripura',
 'Nagaland',
 'Meghalaya',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Sikkim',
 'Lakshadweep',
 'Telangana']

In [10]:
print(len(df1_states), len(df2_states), len(duplicate_list))

46 36 36

In [11]:
print(sorted(df1_states), '\n\n\n', sorted(df2_states), '\n\n\n', sorted(duplicate_list))

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Bihar****', 'Cases being reassigned to states', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Dadra and Nagar Haveli and Daman and Diu', 'Daman & Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Himanchal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karanataka', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Madhya Pradesh***', 'Maharashtra', 'Maharashtra***', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Telengana', 'Tripura', 'Unassigned', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']


 ['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']


 ['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

# Practicing pandas Part 2 - covid india - merging df

In [12]:
duplicate_list = ['Kerala','Delhi','Rajasthan','Uttar Pradesh','Haryana','Ladakh','Tamil Nadu','Karnataka','Maharashtra','Punjab','Jammu and Kashmir','Andhra Pradesh','Uttarakhand','Odisha','Puducherry','West Bengal',
'Chhattisgarh','Chandigarh','Gujarat','Himachal Pradesh','Madhya Pradesh','Bihar','Manipur','Mizoram','Andaman and Nicobar Islands','Goa','Assam','Jharkhand','Arunachal Pradesh','Tripura','Nagaland','Meghalaya',
'Dadra and Nagar Haveli and Daman and Diu','Sikkim','Lakshadweep','Telangana'] # previous task solution

In [13]:
len(duplicate_list)

36

In [17]:
df2.isna().sum()

Date                0
State               0
TotalSamples        0
Negative         9367
Positive        10674
dtype: int64

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  object
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      6969 non-null   object
 4   Positive      5662 non-null   float64
dtypes: float64(2), object(3)
memory usage: 638.2+ KB

In [22]:
df2 = df2.fillna(0)

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  object
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      16336 non-null  object
 4   Positive      16336 non-null  float64
dtypes: float64(2), object(3)
memory usage: 638.2+ KB

In [30]:
#df1 Assign a new variable called data1. data1 is a df that contains the rows of data whose states appear in duplicate_list.

data1 = df1.loc[df1.loc[:, 'State'].isin(duplicate_list), :]
# Next, filter data1 further so that it only contains data where the Date >= ‘2020-04-17’ and Date <= ‘2021-08-10’

data1 = data1.loc[(data1.loc[:, 'Date'] >= '2020-04-17') & (data1.loc[:, 'Date'] <= '2021-08-10'), :]

In [31]:
#df2 Assign a new variable called data2. data2 is a df that contains the rows of data whose states appear in duplicate_list.
data2 = df2.loc[df2.loc[:, 'State'].isin(duplicate_list), :]

In [37]:
data1 = data1.groupby('State').sum()
data1

,Sno,Cured,Deaths,Confirmed
State,,,,
Andaman and Nicobar Islands,4547284,1840824,27007,1930746
Andhra Pradesh,4547501,368473679,2925728,390442544
Arunachal Pradesh,4548114,6540328,26551,7126288
Assam,4548595,92118991,632897,99260468
Bihar,4517346,124407421,1083794,131505079
Chandigarh,4549557,10055815,146883,10796259
Chhattisgarh,4550038,150621049,2050376,162772593
Dadra and Nagar Haveli and Daman and Diu,4494036,1831104,1010,1927978
Delhi,4550982,272008186,4917990,285777762
Goa,4551463,25859196,444637,28067943
Gujarat,4551944,131671842,2209069,142589689
Haryana,4552425,125824991,1493117,133574633
Himachal Pradesh,4535611,27298264,487787,29824337
Jammu and Kashmir,4553387,52980115,835246,57792140
Jharkhand,4553868,57692404,743500,61764375
Karnataka,4537051,438982299,6016796,483045974
Kerala,4554830,416776301,1870134,455312212
Ladakh,4555443,3738683,45597,4033448
Lakshadweep,3329211,810760,3857,905521
Madhya Pradesh,4538985,125943444,1766861,134826929
Maharashtra,4539177,1012603196,23601859,1115105930
Manipur,4556997,11133784,171392,12512481
Meghalaya,4557478,6473752,100763,7286185
Mizoram,4557959,2350880,9620,2938389
Nagaland,4499020,4492674,57875,5012929
Odisha,4558887,149950655,784239,159140944
Puducherry,4559368,18363986,310355,19944023
Punjab,4559849,90875259,2769125,99348042
Rajasthan,4560330,149411422,1464105,161407710
Sikkim,4500223,2722119,52794,3158781
Tamil Nadu,4561255,401570882,5882178,429337459
Telangana,1643270,56849835,345817,59921626
Tripura,4562217,12899034,149569,13969574
Uttar Pradesh,4563179,289793197,4120605,310910188
Uttarakhand,4562698,48028011,978633,52797457
West Bengal,4563660,246008295,3828654,261570903

In [38]:
data2 = data2.groupby('State').sum()
data2

                                          TotalSamples    Positive
State
Andaman and Nicobar Islands               8.747008e+07   1763591.0
Andhra Pradesh                            4.967773e+09   3859260.0
Arunachal Pradesh                         1.636096e+08     51245.0
Assam                                     2.853509e+09   2065991.0
Bihar                                     7.392796e+09   1859345.0
Chandigarh                                9.974705e+07     59195.0
Chhattisgarh                              1.863129e+09    467857.0
Dadra and Nagar Haveli and Daman and Diu  6.324267e+06    169010.0
Delhi                                     4.310596e+09   6848173.0
Goa                                       1.979067e+08    266181.0
Gujarat                                   4.623914e+09   8009517.0
Haryana                                   2.056736e+09   2830153.0
Himachal Pradesh                          4.271429e+08    119494.0
Jammu and Kashmir                         1.960284e+09    977615.0
Jharkhand                                 2.053512e+09  51696495.0
Karnataka                                 6.773248e+09   4701197.0
Kerala                                    4.269006e+09  79723175.0
Ladakh                                    4.213546e+07     89027.0
Lakshadweep                               2.001715e+07         0.0
Madhya Pradesh                            2.298458e+09   9584080.0
Maharashtra                               7.334574e+09  96901583.0
Manipur                                   1.855130e+08    101501.0
Meghalaya                                 1.251595e+08     33904.0
Mizoram                                   8.460259e+07     19785.0
Nagaland                                  5.183817e+07     90682.0
Odisha                                    2.965651e+09   2214458.0
Puducherry                                2.383986e+08   6287323.0
Punjab                                    2.026576e+09    960287.0
Rajasthan                                 2.520540e+09   2445076.0
Sikkim                                    2.979406e+07     17644.0
Tamil Nadu                                6.711189e+09  12772604.0
Telangana                                 3.422977e+09   3855373.0
Tripura                                   2.467333e+08  12630766.0
Uttar Pradesh                             1.138818e+10   2743971.0
Uttarakhand                               9.792698e+08    350257.0
West Bengal                               3.051636e+09   3487431.0

In [39]:
#In data2, create a new column called Positive Rate, where Positive Rate = Positive / Total Samples

data2.loc[:, 'Positive Rate'] = data2.loc[:, 'Positive']/data2.loc[:, 'TotalSamples']
data2

,TotalSamples,Positive,Positive Rate
State,,,
Andaman and Nicobar Islands,8.747008e+07,1763591.0,0.020162
Andhra Pradesh,4.967773e+09,3859260.0,0.000777
Arunachal Pradesh,1.636096e+08,51245.0,0.000313
Assam,2.853509e+09,2065991.0,0.000724
Bihar,7.392796e+09,1859345.0,0.000252
Chandigarh,9.974705e+07,59195.0,0.000593
Chhattisgarh,1.863129e+09,467857.0,0.000251
Dadra and Nagar Haveli and Daman and Diu,6.324267e+06,169010.0,0.026724
Delhi,4.310596e+09,6848173.0,0.001589
Goa,1.979067e+08,266181.0,0.001345
Gujarat,4.623914e+09,8009517.0,0.001732
Haryana,2.056736e+09,2830153.0,0.001376
Himachal Pradesh,4.271429e+08,119494.0,0.000280
Jammu and Kashmir,1.960284e+09,977615.0,0.000499
Jharkhand,2.053512e+09,51696495.0,0.025175
Karnataka,6.773248e+09,4701197.0,0.000694
Kerala,4.269006e+09,79723175.0,0.018675
Ladakh,4.213546e+07,89027.0,0.002113
Lakshadweep,2.001715e+07,0.0,0.000000
Madhya Pradesh,2.298458e+09,9584080.0,0.004170
Maharashtra,7.334574e+09,96901583.0,0.013212
Manipur,1.855130e+08,101501.0,0.000547
Meghalaya,1.251595e+08,33904.0,0.000271
Mizoram,8.460259e+07,19785.0,0.000234
Nagaland,5.183817e+07,90682.0,0.001749
Odisha,2.965651e+09,2214458.0,0.000747
Puducherry,2.383986e+08,6287323.0,0.026373
Punjab,2.026576e+09,960287.0,0.000474
Rajasthan,2.520540e+09,2445076.0,0.000970
Sikkim,2.979406e+07,17644.0,0.000592
Tamil Nadu,6.711189e+09,12772604.0,0.001903
Telangana,3.422977e+09,3855373.0,0.001126
Tripura,2.467333e+08,12630766.0,0.051192
Uttar Pradesh,1.138818e+10,2743971.0,0.000241
Uttarakhand,9.792698e+08,350257.0,0.000358
West Bengal,3.051636e+09,3487431.0,0.001143

In [40]:
df_final = pd.merge(data1, data2, on ='State')
df_final

,Sno,Cured,Deaths,Confirmed,TotalSamples,Positive,Positive Rate
State,,,,,,,
Andaman and Nicobar Islands,4547284,1840824,27007,1930746,8.747008e+07,1763591.0,0.020162
Andhra Pradesh,4547501,368473679,2925728,390442544,4.967773e+09,3859260.0,0.000777
Arunachal Pradesh,4548114,6540328,26551,7126288,1.636096e+08,51245.0,0.000313
Assam,4548595,92118991,632897,99260468,2.853509e+09,2065991.0,0.000724
Bihar,4517346,124407421,1083794,131505079,7.392796e+09,1859345.0,0.000252
Chandigarh,4549557,10055815,146883,10796259,9.974705e+07,59195.0,0.000593
Chhattisgarh,4550038,150621049,2050376,162772593,1.863129e+09,467857.0,0.000251
Dadra and Nagar Haveli and Daman and Diu,4494036,1831104,1010,1927978,6.324267e+06,169010.0,0.026724
Delhi,4550982,272008186,4917990,285777762,4.310596e+09,6848173.0,0.001589
Goa,4551463,25859196,444637,28067943,1.979067e+08,266181.0,0.001345
Gujarat,4551944,131671842,2209069,142589689,4.623914e+09,8009517.0,0.001732
Haryana,4552425,125824991,1493117,133574633,2.056736e+09,2830153.0,0.001376
Himachal Pradesh,4535611,27298264,487787,29824337,4.271429e+08,119494.0,0.000280
Jammu and Kashmir,4553387,52980115,835246,57792140,1.960284e+09,977615.0,0.000499
Jharkhand,4553868,57692404,743500,61764375,2.053512e+09,51696495.0,0.025175
Karnataka,4537051,438982299,6016796,483045974,6.773248e+09,4701197.0,0.000694
Kerala,4554830,416776301,1870134,455312212,4.269006e+09,79723175.0,0.018675
Ladakh,4555443,3738683,45597,4033448,4.213546e+07,89027.0,0.002113
Lakshadweep,3329211,810760,3857,905521,2.001715e+07,0.0,0.000000
Madhya Pradesh,4538985,125943444,1766861,134826929,2.298458e+09,9584080.0,0.004170
Maharashtra,4539177,1012603196,23601859,1115105930,7.334574e+09,96901583.0,0.013212
Manipur,4556997,11133784,171392,12512481,1.855130e+08,101501.0,0.000547
Meghalaya,4557478,6473752,100763,7286185,1.251595e+08,33904.0,0.000271
Mizoram,4557959,2350880,9620,2938389,8.460259e+07,19785.0,0.000234
Nagaland,4499020,4492674,57875,5012929,5.183817e+07,90682.0,0.001749
Odisha,4558887,149950655,784239,159140944,2.965651e+09,2214458.0,0.000747
Puducherry,4559368,18363986,310355,19944023,2.383986e+08,6287323.0,0.026373
Punjab,4559849,90875259,2769125,99348042,2.026576e+09,960287.0,0.000474
Rajasthan,4560330,149411422,1464105,161407710,2.520540e+09,2445076.0,0.000970
Sikkim,4500223,2722119,52794,3158781,2.979406e+07,17644.0,0.000592
Tamil Nadu,4561255,401570882,5882178,429337459,6.711189e+09,12772604.0,0.001903
Telangana,1643270,56849835,345817,59921626,3.422977e+09,3855373.0,0.001126
Tripura,4562217,12899034,149569,13969574,2.467333e+08,12630766.0,0.051192
Uttar Pradesh,4563179,289793197,4120605,310910188,1.138818e+10,2743971.0,0.000241
Uttarakhand,4562698,48028011,978633,52797457,9.792698e+08,350257.0,0.000358
West Bengal,4563660,246008295,3828654,261570903,3.051636e+09,3487431.0,0.001143